body {
	font-family: 'Lato', sans-serif;
	color: #7d97ad;
	font-weight: 300;
}

.text-muted {
	color: #2d3c49;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}